/* reset.css 开始 */

html {
    color: #000;
    background: #FFF
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset, img {
    border: 0
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal
}

ol, ul {
    list-style: none
}

caption, th {
    text-align: left
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal
}

q:before, q:after {
    content: ''
}

abbr, acronym {
    border: 0;
    font-variant: normal
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

input, textarea, select, button {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    *font-size: 100%;
    outline: none;
}

legend {
    color: #000
}

/* reset css 结束 */

/* 超链接默认样式清除:默认，访问后，悬浮，点击 */
a:link, a:visited, a:hover, a:active {
    color: #707070;
}

a {
    text-decoration: none;
}

#yui3-css-stamp.cssreset {
    display: none
}

/* 通用样式 开始 */
.clear {
    zoom: 1;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.por {
    position: relative;
}

/* 通用样式 结束 */
